:root {
    --jazzberry-jam: #8b0a50;
    --jazzberry-jam-darker: #6F0840;
}

#centerfold {
    background-color: white;
}

body {
    background-image: url('./images/pexels-jess-bailey-designs-1097930.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo';
    font-size: 20px;
}

main {
    flex: 1;
}

a {
    color: var(--jazzberry-jam);
    text-decoration: none;
}

a:hover {
    color: var(--jazzberry-jam-darker);
    font-weight: bold;
}

.navActive {
    color: var(--jazzberry-jam);
    font-weight: bold;
}

.btn {
    background-color: var(--jazzberry-jam);
    border-color: var(--jazzberry-jam);
}

.btn:hover {
    background-color: var(--jazzberry-jam-darker);
    border-color: var(--jazzberry-jam-darker);
}

.card {
    height: fit-content;
    cursor: pointer;
}

.card:hover>.seeMoreInfo {
    display: block;
}

.seeMoreInfo {
    display: none;
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    width: 100%;
    text-align: center;
}

.seeMoreInfo>h3 {
    margin-top: .5rem;
}